html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

div.first {
	width: 100vw;
	height: 100vh;

	background-color: #F8F8F4;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

div.second {
	width: 100vw;
	height: 100vh;

	background-color: #F8F8F4;
}

div.third {
	width: 100vw;
	height: 100vh;

	background-color: #F8F8F4;
}

div.footers {
	width: 100vw;
	height: 40vh;

	background-color: #2C1E1E;
}

.hidden {
	visibility: hidden;
	width: 0;
	height: 0;
}

p, button, input, h1, h2, label {
	margin: 0;
	font-family: 'Lora', serif;
	color: #2C1E1E;
}

h1 {
	padding: 1em 0 0.5em 0;
	text-align: center;

	font-size: 3vw;
}

button {
	cursor: pointer;
}

div.up_side {
	box-sizing: border-box;
	height: 20vh;
	width: 100%;

	padding: 1em 0 0;

	text-align: center;
}

div.up_side div.date-container {
	margin: 0;
	padding: 0;
	display: inline-block;

	height: 5vh;
	width: 25em;

	text-align: center;

	background-color: white;
	border-radius: 1em;

	vertical-align: middle;
}

div.up_side div.date-container p {
	border: 0;
	padding: 0;
	margin: 0;

	font-size: 1em;
	letter-spacing: 0.3em;

	line-height: 5vh;

	background-color: transparent;
}

div.up_side button, div.up_side button:hover {
	border: 0;
	padding: 0;
	margin: 0;

	height: 2em;
	width: 2em;
	border-radius: 50%;

	background-color: #727E76;

	font-size: 1em;
	color: #F8F8F4;
}

div.up_side button:hover {
	background-color: #2C1E1E;

	color: #BF99B0;
}

div.left_side {
	box-sizing: border-box;
	height: 80vh;
	width: 25%;

	margin-left: 5%;
	font-size: 5vw;

	padding-top: 10vh;
}

div.left_side  p {
	color: #F8F8F4;
}

div.left_side a.button {
	outline: none;
	text-decoration: none;

	font-size: 0.6em;
	color: #727E76;
	background-color: #F8F8F4;

	border-radius: 0.4em;

	padding: 0.1em 0.3em;
}

div.left_side a.button:link {
	
}

div.left_side a.button:visited {
	
}

div.left_side a.button:focus {
	
}

div.left_side a.button:hover {
	color: #BF99B0;
	background-color: #727E76;
}


div.left_side a.button:active {
	
}

section#features {
	display: flex;
	flex-wrap: wrap;
	flex: 20vw;

	align-items: center;
	justify-content: space-around;
}

section#features article{
	box-sizing: border-box;
	height: 30vh;
	width: 20vw;
	margin: 5vh 2vw;

	text-align: center;
}

section#features article *:first-child{
	font-size: 1.5em;
	margin-bottom: 0.5em
}

section#photos {
	display: flex;
	flex-wrap: wrap;

	align-items: center;
	justify-content: center;
}

section#photos img {
	box-sizing: border-box;
	height: max(min(40vh, 20vw), min(20vh, 40vw));
	width: max(min(40vh, 20vw), min(20vh, 40vw));
	padding: 0.1em;
	object-fit: cover;
}

section#photos img:nth-of-type(1) {
	border-radius: 0.5em 0 0 0
}

section#photos img:nth-of-type(5) {
	border-radius: 0 0.5em 0 0
}

section#photos img:nth-of-type(6) {
	border-radius: 0 0 0 0.5em
}

section#photos img:nth-of-type(10) {
	border-radius: 0 0 0.5em 0
}


/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/

h1.left {
	padding: 0.2em 2vw;
	text-align: left;

	font-size: 3em;
}

div#photos_logement {
	display: flex;
	flex-wrap: wrap;

	height: 80vh;

	margin: 0 auto;

	align-items: center;
	justify-content: center;
}

div#photos_logement > * {
	box-sizing: border-box;
/*	height: max(min(80vh, 40vw), min(40vh, 80vw));
	width: max(min(80vh, 40vw), min(40vh, 80vw));*/
	height: 80vh;
	width: 80vh;
	object-fit: cover;
}

div#photos_logement > img {
	border-radius: 1em 0 0 1em;
	padding: 0 0.4em 0 0;
}

div#photos_logement section {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

div#photos_logement section > img {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	object-fit: cover; 

	padding: 0;
}

div#photos_logement section > img:nth-of-type(1) {
	padding: 0 0.2em 0.2em 0;
}

div#photos_logement section > img:nth-of-type(2) {
	padding: 0 0 0.2em 0.2em;
	border-radius: 0 1em 0 0;
}

div#photos_logement section > img:nth-of-type(3) {
	padding: 0.2em 0.2em 0 0;
}

div#photos_logement section > img:nth-of-type(4) {
	padding: 0.2em 0 0 0.2em;
	border-radius: 0 0 1em 0;
}

section#info_logement {
	display: flex;

	height: 100%;
	width: 95%;
}

section#info_logement > section {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	flex: 60%;

	/*justify-content: space-around;*/
	margin: 0;
	padding: 3vh 2vw 2vh;
}

section#info_logement > section > article {
	margin: 0;
	padding: 0 0 15vh;
}

section#info_logement > section > article p:first-child {
	font-size: 2.5em;
	color: #2C1E1E;
}

section#info_logement > section > article p {
	font-size: 1.5em;
	color: #727E76;
}

section#info_logement > form {
	display: flex;
	flex-direction: column;

	flex: 40%;

/*	align-items: center;*/

	padding: 1vh 1vw;

	height: 90%;
}

section#info_logement > form > div {
	box-sizing: border-box;
	width: 35vw;

	border: 2px solid #2C1E1E;
	border-radius: 1em;

	padding: 1vh 0vw;
	margin: 0;

	display:flex;
	flex-direction: column;
	justify-content: space-around;

	position: fixed;
	top: calc(100vh - 5em);

	background-color: #F8F8F4;
}

section#info_logement > form > div h2 {
	font-size: 3em;
	padding: 0 0 0.5em 5%;
}


section#info_logement div.date-container {
	box-sizing: border-box;
	margin: 0 5% 0.5em;
	padding: 0;

	border-radius: 0.8em;
	border: 1px solid #727E76;
	background-color: #F8F8F4;
	color: #2C1E1E;

	width: 90%;
	/*height: 2em;*/

	text-align: center;
}

section#info_logement div.date-container p {
	border: 0;
	padding: 0;
	margin: 0;

	font-size: 1em;
	letter-spacing: 0.3em;

	line-height: 2em;

	background-color: transparent;
}

section#info_logement > form > div button {
	padding: 0;
	margin: 2vh 5% 1vh ;
	border: 0;

	background-color: #21C2EE;
	color: #F8F8F4;

	width: 90%;
	height: 2em;

	font-size: 1.5em;

	border-radius: 0.5em;
}

section#info_logement > form > article {
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
  	justify-content: space-between;
}

section#info_logement > form > article > section {
	box-sizing: border-box;

	display: flex;
	flex-direction: row;

	padding: 2vh 0;

	font-size: 1.5em;

	width:35vw;
}

section#info_logement > form > article > section > input[type=number] {
	font-size: 1em;

	padding: 0;

	width: 1.5em;
	height: 1em;
}

section#info_logement > form > article > section * {
	padding: 0 2vw;
}

/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/

section#confirmation {
	display: flex;

	margin: 0;
	padding: 2vh 2vw;
}

section#confirmation > form {
	display: flex;
	flex-direction: column;

	width:60%;
}

section#confirmation > form h2 {
	font-size: 2em;
}

section#confirmation div.date-container {
	padding: 0;
	border: 0;
	background-color: transparent;

	margin: 2vh 0 5vh;
}

section#confirmation div.date-container p{
	font-size: 1.5em;
	letter-spacing: 0.2em;
	color: #727E76;
}

section#confirmation > form > section {
	box-sizing: border-box;

	display: flex;
	flex-direction: row;

	padding: 2vh 0;

	font-size: 1.5em;

	width:35vw;
}

section#confirmation > form > section > input[type=number] {
	font-size: 1em;

	padding: 0;

	width: 1.5em;
	height: 1em;
}

section#confirmation > form > section * {
	padding: 0 2vw;
}


section#confirmation > section {
	display: flex;
	flex-direction: column;

	width: 40%;
}

section#confirmation > section > div {
	box-sizing: border-box;
	width: 100%;

	border: 1px solid #727E76;
	border-radius: 1em;

	padding: 1vh 1vw;
	margin: 0 0 5vh	;

	display:flex;
	flex-direction: column;
	justify-content: space-around;
}

section#price_details {
	display: flex;
	flex-direction: column;

	margin: 2vh 0;

	width: 100%;

	font-size: 1.2em;
}

section#price_details div{
	display: flex;
	flex-direction: row;

	justify-content: space-between;

	margin: 2vh 0 0;
}

section#price_details p{
	color: #727E76;
}

section#price_details > div:last-child {
	margin: 2vh 0 0;

	font-size: 1.5em;
}

section#price_details > div:last-child p{
	color: #2C1E1E;
}

section#confirmation > section > button {
	padding: 0;
	margin: 0 auto;
	border: 0;

	background-color: #21C2EE;
	color: #F8F8F4;

	width: max(80%, 10em);
	height: 2em;

	font-size: 1.5em;

	border-radius: 0.8em;
}


/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/

section#footers_infos {
	display: flex;
}

section#footers_infos article {
	color: #F8F8F4;
	padding: 5vh 2vw 3vh;
	width: 30vw;
}

section#footers_infos p {
	color: #F8F8F4;
}

/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/


div#div-for-em {
	height: 0;
	width: 0;
	outline: 0;
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: content-box;

	position: fixed;
	top: -100vh;
}