<!DOCTYPE html>
<html>
<head>
	{% block page_title %}
		<title>Les pieds dans l'herbe</title>
	{% endblock page_title %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{# Icon API #}
	<script src="https://kit.fontawesome.com/abb297e176.js" crossorigin="anonymous"></script>

	{# Font family #}
	<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

	{# Date picker JS and CSS (two in each page) #}
	{% load static %}
	<script type="text/javascript" src="{% static 'scripts/datepickers/datepicker.js' %}"></script>

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/datepicker.css' %}">

	{# Custom Date Picker #}
	{% load static %}
	<script type="text/javascript" src="{% static 'scripts/datepickers/datepicker_display.js' %}" defer></script>
	
	{# Add additional CSS in static file #}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
	
	{% block add_on %}
	{# Use to place special dependencies for a special page #}
	{% endblock add_on %}
</head>
<body>
	{% block content %}
		
	{% endblock content %}
	
	{# Footers (Informations) #}
	<div class="footers">
		<section id="footers_infos">
			<article>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pretium nulla, vel eleifend velit. Integer lacinia vitae neque quis semper.</p>
			</article>

			<article>
				<p>Curabitur laoreet porta efficitur. Integer id risus mauris. Mauris ac mauris ac mauris venenatis ornare.</p>
			</article>

			<article>
				<p>Cras id ipsum et nulla luctus rhoncus. Cras sit amet dolor volutpat, maximus dui hendrerit, maximus velit.</p>
			</article>
		</section>
	</div>
</body>
</html>